#Logo {
  font-family: Arial;
  font-weight: bold;
  color: blue;
}
#User_Name {
}
#user_logo {
  width: 50px;
  border-radius: 64%;
  height: 50px;
}
#navbar_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 0px 60px;
}
#navbar_user {
  display: flex;
  justify-content: end;
}
#navbar_foot {
  display: flex;
  background-color: rgb(3, 3, 155);
  align-items: center;
  color: white;
  font-family: Lucida Sans;
  padding-left: 55px;
}
#dropdown {
  background-color: rgb(3, 3, 155);
  font-family: Lucida Sans;
  color: white;
  padding-left: 60px;
  font-weight: 100;
  padding-top: 15px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.Course_Code {
  padding: 10px;
  font-weight: 500;
}
